<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.AccountMapper">
    <select id="doLogin" parameterType="com.modcreater.tmbeans.vo.LoginVo"
            resultType="com.modcreater.tmbeans.pojo.Account">
        select * from account where userCode=#{userCode} and userPassword=#{userPassword}
    </select>

    <insert id="register" parameterType="com.modcreater.tmbeans.pojo.Account">
        insert into account
            (userCode,
            userPassword,
            isFirst,
            userName,
            gender,
            birthday,
            IDcard,
            offlineTime,
            userType,
            headImgUrl,
            userSign
            )
        values (#{userCode}
            ,#{userPassword}
            ,#{isFirst}
            ,#{userName}
            ,#{gender}
            ,#{birthday}
            ,#{IDCard}
            ,#{offlineTime}
            ,#{userType}
            ,#{headImgUrl}
            ,#{userSign}
            )
    </insert>

    <select id="checkCode" parameterType="String" resultType="com.modcreater.tmbeans.pojo.Account">
        select * from account where userCode=#{userCode}
    </select>

    <select id="queryAccount" resultType="com.modcreater.tmbeans.pojo.Account">
        select * from account where id=#{id}
    </select>

    <update id="updateAccount" parameterType="com.modcreater.tmbeans.pojo.Account">
        update account
        <set>
            <if test="userName != null and userName!=''">
                userName = #{userName},
            </if>
            <if test="gender > 0 ">
                gender = #{gender},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="modifyDate != null">
                modifyDate = #{modifyDate},
            </if>
            <if test="userPassword != null">
                userPassword = #{userPassword},
            </if>
            <if test="headImgUrl != null and headImgUrl != ''">
                headImgUrl=#{headImgUrl},
            </if>
            <if test="isFirst != 0">
                isFirst = #{isFirst},
            </if>
            <if test="token != null">
                token = #{token},
            </if>
            <if test="userSign != null">
                userSign = #{userSign}
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="updateTimestampUnderAccount">
        update account
        <set>
            <if test="timestamp != null and timestamp != ''">
                time = #{timestamp}
            </if>
        </set>
        where id = #{userId}
    </update>

    <select id="queryTime" resultType="String">
        select `time` from account where id=#{id}
    </select>

    <select id="queryFriendByUserCode" parameterType="String" resultType="com.modcreater.tmbeans.pojo.Account">
        select * from account where userCode=#{userCode}
    </select>

    <insert id="buildFriendship" parameterType="String">
        insert into friendship (userId,friendId,status) values (#{userId},#{friendId},#{status})
    </insert>

    <select id="queryFriendList"  resultType="com.modcreater.tmbeans.pojo.Account">
        SELECT * FROM account WHERE id IN (SELECT friendId FROM friendship WHERE userId=#{userId} and status=20)
        <if test=" pageIndex>=0 and pageSize>0">
            limit #{pageIndex},#{pageSize}
        </if>
    </select>

    <update id="updateFriendJurisdiction" parameterType="com.modcreater.tmbeans.vo.uservo.UpdateFriendJurisdictionVo">
        update friendship
        <set>
            <if test="invite  >= 0 ">
                invite=#{invite},
            </if>
             <if test="sustain >= 0 ">
                 sustain=#{sustain},
            </if>
              <if test="hide  >= 0 ">
                 hide=#{hide},
            </if>
        </set>
        where userId=#{userId} and friendId=#{friendId} and status=20
    </update>

    <update id="updateFriendJurisdictionForSingleCondition" statementType="STATEMENT">
        update friendship set #{updateType} = #{status} where userId = #{userId} and friendId = #{friendsIds} and status=20
    </update>

    <delete id="deleteFriendship" parameterType="com.modcreater.tmbeans.vo.uservo.FriendshipVo">
        update friendship set status=30
        where userId=#{userId} and friendId=#{friendId}
    </delete>

    <insert id="insertUserRight" parameterType="String">
        insert into userright (userId) value (#{userId})
    </insert>

    <update id="updRealName" parameterType="String">
        update userright set realNameAuthentication = #{realNameAuthentication} where userId=#{userId}
    </update>

    <update id="updateFriendship">
        update friendship set status=#{status}
        where userId=#{userId} and friendId=#{friendId}
    </update>

    <update id="uplHeadImg">
        update account set headImgUrl=#{headImgUrl}
        where id=#{userId}
    </update>
    <update id="alterUserInfo">
        update account
        <set>
            <if test="userSign != null and userSign != ''">
                userSign = #{userSign}
            </if>
            <if test="userName != null and userName != ''">
                userName = #{userName}
            </if>
            <if test="headImgUrl != null and headImgUrl != ''">
                headImgUrl = #{headImgUrl}
            </if>
        </set>
        where id = #{userId}
    </update>

    <select id="queryUserDetails" resultType="com.modcreater.tmbeans.show.userinfo.ShowUserDetails">
        select userName,userSign,headImgUrl "userHeadPortrait" from account where id = #{userId}
    </select>

    <select id="queryFriendRel" parameterType="String" resultType="int">
        select count(1) from friendship where userId=#{userId} and  friendId=#{friendId} and status=20
    </select>
    <select id="queryPlanByDayAndMonth" resultType="com.modcreater.tmbeans.dto.MyDetail" >
        SELECT (SELECT COUNT(1) FROM singleevent WHERE  userId=#{userId} AND `day`=#{day} AND `year`=#{year} AND `month`= #{month} AND isOverdue=0)AS day,
        (SELECT COUNT(1) FROM singleevent WHERE  userId=#{userId}  AND `year`=#{year} AND `month`= #{month} AND isOverdue=0)AS month FROM singleevent LIMIT 1
    </select>

    <select id="queryFriendshipDetail" resultType="com.modcreater.tmbeans.pojo.Friendship">
        select * from friendship where userId=#{userId} and friendId=#{friendId}
    </select>
    <select id="queryAllFriendList" resultType="java.lang.Long">
        select friendId from friendship where userId = #{userId}
    </select>
    <select id="queryNameAndHead" resultType="com.modcreater.tmbeans.pojo.Account">
        select userName, headImgUrl from account where id = #{id}
    </select>

</mapper>