<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.AchievementMapper">

    <sql id="Base_Column_List_UserStatistics">
        id,userId,loggedDays,completed,unfinished,drafts
    </sql>

    <sql id="Base_Column_List_Achievement">
        id,name,imgUrl,loggedDaysCondition,finishedEventsCondition
    </sql>
    <insert id="addNewAchievement">
        insert into userachievement values (null,#{userId},#{id})
    </insert>
    <update id="updateUserStatistics">
        update userstatistics
        <set>
            <if test="userStatistics.loggedDays != null and userStatistics.loggedDays != 0">
                loggedDays = loggedDays + #{userStatistics.loggedDays},
            </if>
            <if test="userStatistics.completed != null and userStatistics.completed != 0">
                completed = completed + #{userStatistics.completed},
            </if>
            <if test="userStatistics.unfinished != null and userStatistics.unfinished != 0">
                unfinished = unfinished + #{userStatistics.unfinished},
            </if>
            <if test="userStatistics.drafts != null and userStatistics.drafts != 0">
                drafts = drafts + #{userStatistics.drafts},
            </if>
            <if test="userStatistics.lastOperatedTime != null and userStatistics.lastOperatedTime != 0">
                lastLoginTime = #{userStatistics.lastOperatedTime}
            </if>
        </set>
        where userId = #{userId}
    </update>

    <select id="searchAllAchievement" resultType="String">
        SELECT imgurl
        from achievement
        where id in
        (SELECT achievementId
        from userachievement
        where userId = #{userId})
    </select>
    <select id="queryUserStatistics" resultType="com.modcreater.tmbeans.pojo.UserStatistics">
        select <include refid="Base_Column_List_UserStatistics"/> from userstatistics where userId = #{userId}
    </select>
    <select id="queryAchievement" resultType="com.modcreater.tmbeans.pojo.Achievement">
        select <include refid="Base_Column_List_Achievement"/> from achievement
    </select>
    <select id="queryUserStatisticsDate" resultType="java.lang.Long">
        select lastOperatedTime from userstatistics where userId = #{userId}
    </select>

</mapper>