<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.AchievementMapper">

    <select id="searchAllAchievement" resultType="String">
        SELECT imgurl
        from achievement
        where id in
        (SELECT achievementId
        from userachievement
        where userId = #{userId})
    </select>

</mapper>