<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.AppMapper">

    <sql id="appVersion">
        id,appName,appVersion,apkUrl,uploadTime,updatedInstructions,functionIntroduction,updateTimes
    </sql>
    <insert id="addUserNotice">
        insert into usernotice values (null,#{userId},#{noticeName},0)
    </insert>
    <update id="updateUpdateTimes">
        update appversion set updateTimes = #{updateTimes} where uploadTime = #{uploadTime}
    </update>
    <update id="updateUserNotice">
        update usernotice set todayNotifications = todayNotifications + #{todayNotifications} where userId = #{userId} and noticeName = #{noticeName}
    </update>

    <select id="getAppVersion" resultType="java.lang.String">
        select appVersion from appversion
    </select>
    <select id="getUserNotice" resultType="com.modcreater.tmbeans.pojo.UserNotice">
        select * from usernotice where userId = #{userId}
    </select>
    <select id="getNoticeContent" resultType="java.lang.String">
        select noticeContent from notice where noticeTypeId = #{noticeTypeId} and noticeName = #{noticeName} and startDate = #{date}
    </select>
    <select id="getAppUrl" resultType="java.lang.String">
        select apkUrl from appversion where appVersion = #{appver}
    </select>

    <select id="queryActivityTable" resultType="com.modcreater.tmbeans.pojo.ActivityTable">
        select * from activitytable where isOverdue=0
    </select>
    <insert id="getDiscountCoupon">
        insert into discountuser ( userId, discountId, starTime, endTime) values (#{userId},#{discountId},#{starTime},#{endTime})
    </insert>
    <select id="queryDiscountCoupon" resultType="com.modcreater.tmbeans.pojo.DiscountCoupon">
        select * from discountcoupon where id=#{discountId}
    </select>
    <select id="queryDiscountUser" resultType="com.modcreater.tmbeans.pojo.DiscountUser">
        select * from discountuser where userId=#{userId} and discountId=#{discountId}
    </select>
    <select id="queryDiscountUserList" resultType="com.modcreater.tmbeans.pojo.DiscountUser">
        select * from discountuser where userId=#{userId} and status=0
    </select>
    <select id="queryDiscountUserListByType" resultType="com.modcreater.tmbeans.pojo.DiscountUser">
        select * from discountuser where userId=#{userId} and status=0
        and discountId in (select discountId from discountcoupon where couponType=#{couponType} and couponStatus=0)
    </select>
</mapper>