<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.BacklogMapper">
    <insert id="insertBacklog">
        insert into backloglist (singleEventId, backlogName,finishTime,backlogStatus,isSync)
        values
        <foreach collection="list" item="item" index="index" separator=",">
        (#{item.singleEventId},#{item.backlogName},#{item.finishTime},#{item.backlogStatus},#{item.isSync})
        </foreach>
    </insert>
    <insert id="addBacklog">
        insert into backloglist (singleEventId, backlogName,isSync)
        values (#{singleEventId},#{backlogName},#{isSync})
    </insert>
    <update id="updateBacklog">
        update backloglist
            <set>
                <if test="backlogName != null and backlogName!=''">
                    backlogName = #{backlogName},
                </if>
                <if test="backlogStatus != null and backlogStatus >= 0 ">
                    backlogStatus = #{backlogStatus},
                </if>
                <if test="finishTime != null and finishTime!=''">
                    finishTime = #{finishTime},
                </if>
            </set>
        where id=#{id}
    </update>
    <select id="queryBacklogList" resultType="com.modcreater.tmbeans.pojo.BacklogList">
        select * from backloglist where singleEventId=#{singleEventId}
    </select>
    <select id="queryDraftBacklogList" resultType="com.modcreater.tmbeans.pojo.BacklogList">
        select * from draftbackloglist where singleEventId=#{singleEventId}
    </select>
    <select id="queryBacklogListById" resultType="com.modcreater.tmbeans.pojo.BacklogList">
        select * from backloglist where id=#{id}
    </select>
    <delete id="deleteBacklog">
        delete from backloglist where id=#{id}
    </delete>
    <delete id="deleteDraftBacklogList">
        delete from draftbackloglist where singleEventId=#{singleEventId}
    </delete>
    <insert id="insertDraftBacklog">
        insert into draftbackloglist (singleEventId, backlogName,finishTime,backlogStatus)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.singleEventId},#{item.backlogName},#{item.finishTime},#{item.backlogStatus})
        </foreach>
    </insert>
</mapper>