<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.BackerMapper">

    <insert id="addBackers">
        insert into backers(userId, eventId, backerId)
        values
        <foreach collection="backerId" item="item" index="index" separator=",">
            (#{userId},#{eventId},#{item})
        </foreach>
    </insert>

    <update id="updateBackerStatus" parameterType="com.modcreater.tmbeans.pojo.Backers">
        update backers set status=#{status}
        where userId=#{userId} and eventId=#{eventId} and backerId=#{backerId}
    </update>

    <select id="queryBackers" resultType="java.lang.String">
        select backerId from backers where userId=#{userId} and eventId=#{eventId}
    </select>

    <select id="queryBackerDetail" resultType="com.modcreater.tmbeans.pojo.Backers">
        select * from backers where userId=#{userId} and eventId=#{eventId} and backerId=#{backerId}
    </select>
</mapper>