<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.BackerMapper">

    <insert id="addBackers">
        insert into backers(userId, backerId)
        values(#{userId},#{backerId})
    </insert>
    <update id="updateBacke">
        update backers set backerId = #{friendId} where userId = #{userId}
    </update>
    <delete id="deleteBacker">
        delete from backers where userId = #{userId}
    </delete>
    <select id="getFriendList" resultType="com.modcreater.tmbeans.show.backer.ShowFriendList">
        select f.friendId 'userId',
        a.userCode,
        a.headImgUrl,
        a.userName,
        a.gender
        from account a,friendship f
        where f.friendId = a.id
        and f.userId = #{userId}
    </select>
    <select id="getMyBacker" resultType="com.modcreater.tmbeans.pojo.Backers">
        select * from backers where userId = #{userId}
    </select>

</mapper>