<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.BackerMapper">

    <insert id="addBackers">
        insert into backers(userId, backerId, createDate)
        values(#{userId},#{backerId},#{createDate})
    </insert>
    <update id="updateBacker">
        update backers set backerId = #{friendId} ,status = 0 ,createDate = #{createDate} where userId = #{userId}
    </update>
    <update id="updateMsgStatus">
        update msgstatus set status = #{status} where id = #{msgId} and  userId = #{userId}
    </update>
    <delete id="deleteBacker">
        delete from backers where userId = #{userId}
    </delete>
    <select id="getFriendList" resultType="com.modcreater.tmbeans.show.backer.ShowFriendList">
        select
        f.userId,
        f.friendId,
        a.userCode,
        a.headImgUrl,
        a.userName,
        a.gender
        from account a,friendship f
        where f.friendId = a.id
        and f.userId = #{userId}
        and status = 20
    </select>
    <select id="getMyBacker" resultType="com.modcreater.tmbeans.pojo.Backers">
        select * from backers where userId = #{userId}
    </select>

    <select id="findBackerForEvent" resultType="java.util.Map">
        SELECT e.*,b.backerId FROM backers AS b, singleevent AS e
        WHERE b.userId=e.userId
        AND `month` = #{month}
        AND `day` = #{day}
        AND `year` = #{year}
        AND isOverdue=0
        AND `level`=5
    </select>
    <select id="getRealMyBacker" resultType="com.modcreater.tmbeans.pojo.Backers">
        select * from backers where userId = #{userId} and status = 1
    </select>

</mapper>