<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.EventMapper">

    <sql id="Base_Column_List">
        eventId,userId,eventName,startTime,endTime,address,level,flag,
        remarks,person,repeatTime,isOverdue,remindTime,day,month,year,type
    </sql>

    <insert id="uploadingEvents" parameterType="com.modcreater.tmbeans.pojo.SingleEvent">
            insert into singleevent values
            (null ,
            #{userid},
            #{eventname},
            #{starttime},
            #{endtime},
            #{address},
            #{level},
            #{flag},
            #{person},
            #{remarks},
            #{repeaTtime},
            #{isOverdue},
            #{remindTime},
            #{day},
            #{month},
            #{year},
            #{type})
    </insert>

    <update id="withdrawEventsByUserId">
        update singleevent set isOverdue = 2 where eventId = #{eventid}
    </update>

    <update id="alterEventsByUserId">
            update singleevent set
                userId = #{userid},
                eventName = #{eventname},
                startTime = #{starttime},
                endTime = #{endtime},
                address = #{address},
                level = #{level},
                flag = #{flag},
                person = #{person},
                remarks = #{remarks},
                repeatTime = #{repeaTtime},
                isOverdue = #{isOverdue},
                remindTime = #{remindTime},
                day = #{day},
                month = #{month},
                year = #{year},
                type = #{type}
            where eventId = #{eventid}
    </update>

    <select id="queryEvents" resultType="com.modcreater.tmbeans.pojo.SingleEvent">
        select
        <include refid="Base_Column_List"/>
        from singleevent
        <where>
            <if test="userid != null">
                userid = #{userid}
            </if>
            <if test="day != null">
                and day = #{day}
            </if>
            <if test="month != null">
                and month = #{month}
            </if>
            <if test="year != null">
                and year = #{year}
            </if>
            and isOverdue &lt;&gt; 2
        </where>
    </select>

    <select id="queryByDayOrderByLevel" resultType="com.modcreater.tmbeans.pojo.SingleEvent">
        select
        <include refid="Base_Column_List"/>
        from singleevent
        <where>
            <if test="userid != null">
                userid = #{userid}
            </if>
            <if test="day != null">
                and day = #{day}
            </if>
            <if test="month != null">
                and month = #{month}
            </if>
            <if test="year != null">
                and year = #{year}
            </if>
            and isOverdue &lt;&gt; 2
        </where>
        order by level asc
    </select>

    <select id="queryByDayOrderByLevelAndDate" resultType="com.modcreater.tmbeans.pojo.SingleEvent">
        select
        <include refid="Base_Column_List"/>
        from singleevent
        <where>
            <if test="userid != null">
                userid = #{userid}
            </if>
            <if test="day != null">
                and day = #{day}
            </if>
            <if test="month != null">
                and month = #{month}
            </if>
            <if test="year != null">
                and year = #{year}
            </if>
            and isOverdue &lt;&gt; 2
        </where>
        order by level asc , startTime asc
    </select>

    <update id="updOldEvent">
            update singleevent set
                isOverdue = 2
            where userId = #{userid} and year =#{year} and month=#{month} and day=#{day}
    </update>
</mapper>