<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.EventTemporaryMapper">
    <insert id="addTempEvent" parameterType="com.modcreater.tmbeans.pojo.SingleEvent">
        insert into eventtemporary
        (eventId,
        userId,
        eventName,
        startTime,
        endTime,
        address,
        level,
        flag,
        person,
        remarks,
        repeatTime,
        isOverdue,
        remindTime,
        "day",
        "month",
        "year",
        type,
        isLoop)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.eventid} ,
            #{item.userid},
            #{item.eventname},
            #{item.starttime},
            #{item.endtime},
            #{item.address},
            #{item.level},
            #{item.flag},
            #{item.person},
            #{item.remarks},
            #{item.repeaTtime},
            #{item.isOverdue},
            #{item.remindTime},
            #{item.day},
            #{item.month},
            #{item.year},
            #{item.type},
            #{item.isLoop})
        </foreach>
    </insert>
</mapper>