<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.EventViceMapper">

    <insert id="createEventVice" parameterType="com.modcreater.tmbeans.pojo.SingleEventVice">
          insert into singleeventvice
          (eventId,userId,createBy)
          values
          (#{eventId},#{userId},#{createBy})
    </insert>

    <update id="updateEventVice">
        update singleeventvice
        <set>
            <if test="createBy > 0">
                createBy=#{createBy},
            </if>
        </set>
        where eventId=#{eventId}
        and createBy=#{createBy}
    </update>

    <delete id="deleteEventVice" parameterType="com.modcreater.tmbeans.pojo.SingleEventVice">
        delete from  singleeventvice where eventId=#{eventId} and userId=#{userId}
    </delete>

    <select id="queryEventVice" resultType="com.modcreater.tmbeans.pojo.SingleEventVice">
        select * from singleeventvice where eventId=#{eventId} and userId=#{userId}
    </select>

</mapper>