<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.EventViceMapper">

    <insert id="createEventVice" parameterType="com.modcreater.tmbeans.pojo.SingleEventVice">
          insert into singleeventvice
          (eventId,userId,createBy)
          values
          (#{eventId},#{userId},#{createBy})
    </insert>
    <insert id="addEventExtra">
        insert into eventextra (eventId, common) values (#{eventId},#{common})
    </insert>

    <update id="updateEventVice">
        update singleeventvice
        <set>
            <if test="createBy > 0">
                createBy=#{newCreateBy},
            </if>
        </set>
        where eventId=#{eventId}
        and createBy=#{createBy}
    </update>
    <update id="updEventExtra">
        update eventextra set common=#{common} where eventId=#{eventId}
    </update>

    <delete id="deleteEventVice" >
        delete from  singleeventvice where eventId=#{eventId} and userId=#{userId}
    </delete>

    <select id="queryEventVice" resultType="com.modcreater.tmbeans.pojo.SingleEventVice">
        select * from singleeventvice where eventId=#{eventId} and userId=#{userId} limit 1
    </select>
    <select id="queryEventExtra" resultType="com.modcreater.tmbeans.pojo.EventExtra">
        select * from eventextra where eventId=#{eventId}
    </select>

</mapper>