<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.GoodsMapper">

    <insert id="addNewGoods" useGeneratedKeys="true" keyProperty="id">
        insert into store_goods (storeId, goodsName, goodsBrand, goodsPicture, goodsBarCode,
        goodsSpecifications, goodsAllergen, goodsPrice, goodsUnit, goodsTypeId, goodsStatus, goodsFUnit, faUnitNum)
         values (#{storeId},#{goodsName},#{goodsBrand},#{goodsPicture},#{goodsBarCode},
         #{goodsSpecifications},#{goodsAllergen},#{goodsPrice},#{goodsUnit},#{goodsTypeId},1,#{goodsFUnit},#{faUnitNum})
    </insert>
    <insert id="addNewGoodsStock">
        insert into store_goodsstock (goodsId, stockNum, goodsSource)
        values (#{goodsId},#{stockNum},#{goodsSource})
    </insert>
    <select id="getGoodsList" resultType="com.modcreater.tmbeans.pojo.StoreGoods">
        select * from store_goods where storeId=#{storeId}
        <if test=" goodsName != null and goodsName != ''" >
            and goodsName like concat('%',#{goodsName},'%')
        </if>
        <if test=" goodsTypeId != null and goodsTypeId > 0 " >
            and goodsTypeId = #{goodsTypeId}
        </if>
        limit #{pageIndex},#{pageSize}
    </select>
    <insert id="addNewGoodsConsumable">
        insert into store_goodsconsumable (goodsId, consumableGoodsId,  registeredRatioIn,
        registeredRationInUnit, registeredRatioOut, registeredRationOutUnit, registeredTime)
        values (#{goodsId},#{consumableGoodsId},#{registeredRatioIn},
        #{registeredRationInUnit},#{registeredRatioOut},#{registeredRationOutUnit},#{registeredTime});
    </insert>
    <select id="getGoodsInfo" resultType="com.modcreater.tmbeans.pojo.StoreGoods">
        select * from store_goods where id = #{goodsId}
    </select>
    <select id="getGoodsTypeList" resultType="com.modcreater.tmbeans.pojo.StoreGoodsType">
        select * from store_goods_type
    </select>
    <select id="getGoodsStockList" resultType="com.modcreater.tmbeans.show.goods.ShowGoodsStockInfo">
        select sg.id goodsId,sg.goodsPicture goodsPicture,sg.goodsName goodsName,
        sgt.type goodsType,sg.goodsUnit goodsUnit,sum(sgk.stockNum) goodsStock
        from store_goods sg,store_goodsstock sgk,store_goods_type sgt
        where sg.id = sgk.goodsId and sgt.id = sg.goodsTypeId and sg.storeId = #{storeId}
        <if test="goodsName != '' and goodsName != null">
            and
            (sg.goodsName like "%"#{goodsName}"%"
            or sg.goodsBrand like "%"#{goodsName}"%"
            or sg.goodsSpecifications like "%"#{goodsName}"%")
        </if>
        group by goodsId
        limit #{pageNum},#{pageSize}
    </select>
    <select id="getGoodsPriceList" resultType="com.modcreater.tmbeans.show.goods.ShowGoodsPriceInfo">
        select sg.id goodsId,sg.goodsPicture goodsPicture,sg.goodsName goodsName,
        sgt.type goodsType,sg.goodsUnit goodsUnit,sg.goodsPrice goodsPrice
        from store_goods sg,store_goods_type sgt
        where sgt.id = sg.goodsTypeId and sg.storeId = #{storeId}
        <if test="goodsName != '' and goodsName != null">
            and
            (sg.goodsName like "%"#{goodsName}"%"
            or sg.goodsBrand like "%"#{goodsName}"%"
            or sg.goodsSpecifications like "%"#{goodsName}"%")
        </if>
        group by goodsId
        limit #{pageNum},#{pageSize}
    </select>
    <select id="getStoreMaster" resultType="java.lang.Long">
        select count(id) from store_info where id = #{storeId} and userId = #{userId}
    </select>
</mapper>