<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.GoodsMapper">

    <insert id="addNewGoods" useGeneratedKeys="true" keyProperty="id">
        insert into store_goods (storeId, goodsName, goodsBrand, goodsPicture, goodsBarCode,
        goodsSpecifications, goodsAllergen, goodsPrice, goodsUnit, goodsTypeId, goodsStatus, goodsFUnit, faUnitNum)
         values (#{storeId},#{goodsName},#{goodsBrand},#{goodsPicture},#{goodsBarCode},
         #{goodsSpecifications},#{goodsAllergen},#{goodsPrice},#{goodsUnit},#{goodsTypeId},1,#{goodsFUnit},#{faUnitNum})
    </insert>
    <insert id="addNewGoodsStock">
        insert into store_goodsstock (goodsId, stockNum, goodsSource)
        values (#{goodsId},#{stockNum},#{goodsSource})
    </insert>
    <select id="grtGoodsList" resultType="java.util.Map">
        select * from store_goods where storeId=#{storeId}
        <if test=" goodsName != null and goodsName != ''" >
            and goodsName like concat('%',#{goodsName},'%')
        </if>
        <if test=" goodsType != null and goodsType > 0 " >
            and goodsTypeId = #{goodsTypeId}
        </if>
        limit #{pageIndex},#{pageSize}
    </select>
    <insert id="addNewGoodsConsumable">
        insert into store_goodsconsumable (goodsId, consumableGoodsId,  registeredRatioIn,
        registeredRationInUnit, registeredRatioOut, registeredRationOutUnit, registeredTime)
        values (#{goodsId},#{consumableGoodsId},#{registeredRatioIn},
        #{registeredRationInUnit},#{registeredRatioOut},#{registeredRationOutUnit},#{registeredTime});
    </insert>
    <select id="getGoodsInfo" resultType="com.modcreater.tmbeans.pojo.StoreGoods">
        select * from store_goods where id = #{goodsId}
    </select>
</mapper>