<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.GroupMapper">
    <insert id="createGroup" useGeneratedKeys="true" keyProperty="id">
        insert into groupinfo (groupName,groupPicture,groupUnit,groupScale,groupNature,groupPresentation,createBy) values
        (#{groupName},#{groupPicture},#{groupUnit},#{groupScale},#{groupNature},#{groupPresentation},#{userId})
    </insert>
    <insert id="addCreator">
        insert into grouprelation (groupId, memberId, memberLevel) values (#{groupId},#{userId},2)
    </insert>
    <insert id="addGroupPermission">
        insert into grouppermission (userid, groupupperlimit) VALUES (#{userId},#{groupUpperLimit})
    </insert>
    <insert id="createMember">
        insert into grouprelation (groupId, memberId, memberLevel) values (#{groupId},#{memberId},0)
    </insert>
    <insert id="saveGroupMsg" useGeneratedKeys="true" keyProperty="id">
        insert into groupsystemmsg (senderId, receiverId, msgContent, msgBody) values (#{senderId},#{receiverId},#{msgContent},#{msgBody})
    </insert>
    <update id="updateGroupInfo" statementType="STATEMENT">
        update groupinfo set ${updateType} = '${value}' where id = ${groupId}
    </update>
    <update id="updateMemberLevel">
        update grouprelation set memberLevel = #{memberLevel} where groupId = #{groupId} and memberId = #{memberId}
    </update>
    <update id="changeCreator">
        update groupinfo set createBy = #{memberId} where id = #{groupId}
    </update>
    <delete id="removeMember">
        delete from grouprelation where groupId = #{groupId} and memberId = #{memberId} and memberLevel != 2
    </delete>

    <select id="getMyGroup" resultType="com.modcreater.tmbeans.show.group.ShowMyGroup">
        select gi.id groupId,gi.groupName groupName,gi.groupPicture groupPicture from grouprelation gl,groupinfo gi
        where gi.id = gl.groupId and gl.memberId = #{userId} and gl.memberLevel = #{role}
    </select>
    <select id="getMyCreatedGroupNum" resultType="java.lang.Integer">
        select count(id) from grouprelation where memberId = #{userId} and memberLevel = 2
    </select>
    <select id="getGroupUpperLimit" resultType="com.modcreater.tmbeans.pojo.GroupPermission">
        select * from grouppermission where userId = #{userId}
    </select>
    <select id="queryGroupInfo" resultType="com.modcreater.tmbeans.pojo.GroupInfo">
        select * from groupinfo where id=#{groupId}
    </select>
    <select id="getMyGroupInfo" resultType="com.modcreater.tmbeans.show.group.ShowGroupInfo">
        select id groupId,
        groupPicture,
        groupName,
        groupUnit,
        groupScale,
        groupNature,
        groupPresentation,
        crateDate from groupinfo where id=#{groupId}
    </select>
    <select id="getMembersInfo" resultType="java.lang.Long">
        select memberId from grouprelation where groupId = #{groupId} and memberLevel in (0,1) order by memberLevel desc
    </select>
    <select id="getGroupDefultHeadImgUrl" resultType="java.lang.String">
        select defaultHeadImgUrl from groupheadimgurl where groupNature = #{groupNature}
    </select>
    <select id="getAllGroupDefultHeadImgUrls" resultType="java.lang.String">
        select defaultHeadImgUrl from groupheadimgurl
    </select>
    <select id="queryGroupRelation" resultType="com.modcreater.tmbeans.pojo.GroupRelation">
        select * from grouprelation where memberId=#{groupId}
    </select>
    <select id="getManagerNum" resultType="java.lang.Long">
        select count(id) from grouprelation where groupId = #{groupId} and memberLevel = 1
    </select>
    <select id="getManagerInfo" resultType="java.util.Map">
        select a.id userId,a.userName,a.headImgUrl
        from account a,grouprelation g
        where a.id = g.memberId and g.memberLevel = 1 and g.groupId = #{groupId}
    </select>
    <select id="getCreatorInfo" resultType="java.util.Map">
        select a.id userId,a.userName,a.headImgUrl
        from account a,grouprelation g
        where a.id = g.memberId and g.memberLevel = 2 and g.groupId = #{groupId}
    </select>
    <select id="getMemberLevel" resultType="java.lang.Integer">
        select memberLevel from grouprelation where groupId = #{groupId} and memberId = #{memberId}
    </select>
    <select id="queryGroupMember" resultType="com.modcreater.tmbeans.pojo.GroupRelation">
        select * from grouprelation where groupId=#{groupId} and memberId=#{memberId}
    </select>
    <select id="getGroupMsgById" resultType="com.modcreater.tmbeans.pojo.GroupSystemMsg">
        select * from groupsystemmsg where id=#{groupMsgId}
    </select>
    <select id="queryGroupMemberInfoByLevel" resultType="java.util.Map">
        select a.id userId,a.userName,a.headImgUrl
        from account a,grouprelation g
        where a.id = g.memberId and g.memberLevel = #{memberLevel} and g.groupId = #{groupId}
    </select>
</mapper>