<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.GroupMapper">
    <insert id="createGroup" useGeneratedKeys="true" keyProperty="id">
        insert into groupinfo (groupName,groupPicture,groupUnit,groupScale,groupNature,groupPresentation,createBy) values
        (#{groupName},#{groupPicture},#{groupUnit},#{groupScale},#{groupNature},#{groupPresentation},#{userId})
    </insert>
    <insert id="addCreator">
        insert into grouprelation (groupId, memberId, memberLevel) values (#{groupId},#{userId},2)
    </insert>
    <insert id="addGroupPermission">
        insert into grouppermission (userid, groupupperlimit) VALUES (#{userId},#{groupUpperLimit})
    </insert>

    <select id="getMyGroup" resultType="com.modcreater.tmbeans.show.group.ShowMyGroup">
        select gi.id groupId,gi.groupName groupName,gi.groupPicture groupPicture from grouprelation gl,groupinfo gi
        where gi.id = gl.groupId and gl.memberId = #{userId} and gl.memberLevel = #{role}
    </select>
    <select id="getMyCreatedGroupNum" resultType="java.lang.Integer">
        select count(id) from grouprelation where memberId = #{userId} and memberLevel = 2
    </select>
    <select id="getGroupUpperLimit" resultType="com.modcreater.tmbeans.pojo.GroupPermission">
        select * from grouppermission where userId = #{userId}
    </select>
    <select id="queryGroupInfo" resultType="com.modcreater.tmbeans.pojo.GroupInfo">
        select * from groupinfo where id=#{groupId}
    </select>
</mapper>