<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.MsgStatusMapper">
    <insert id="addNewMsg" parameterType="com.modcreater.tmbeans.pojo.MsgStatus" useGeneratedKeys="true" keyProperty="id">
        insert into msgstatus(userId, type,receiverId) values (#{userId},#{type},#{receiverId})
    </insert>
    <insert id="addNewEventMsg">
        insert into eventmsg(msgOwnerId, eventId, msgSenderId, content, createDate)
        values (#{msgOwnerId},#{eventId},#{msgSenderId},#{content},#{createDate})
    </insert>

    <update id="updateMsgStatus">
      update msgstatus set status=#{status} where id=#{id}
    </update>
    <delete id="clearInformationSafety">
        delete from informationsafety
    </delete>

    <select id="queryMsg" resultType="com.modcreater.tmbeans.pojo.MsgStatus">
        select * from msgstatus where id=#{id}
    </select>
    <select id="getNeedChangedIds" resultType="java.lang.Long">
        select b.msgId from backers b ,msgstatus m where m.type = 2 and m.status = 2 and m.id = b.msgId and #{time} - b.createDate >= 1800
    </select>
</mapper>