<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.OrderMapper">

    <sql id="userOrders">
        id,userId,serviceId,orderTitle,serviceType,paymentAmount,number,createDate,payTime,payChannel,outTradeNo,orderStatus,remark
    </sql>

    <insert id="addNewOrder">
        insert into userorders values
         (#{id},
         #{userId},
         #{serviceId},
         #{orderTitle},
         #{serviceType},
         #{paymentAmount},
         #{number},
         #{createDate},
         null,
         null,
         null,
         0,
         #{remark})
    </insert>
    <update id="updateUserOrder">
        update userorders set
        payTime = #{payTime},
        payChannel = #{payChannel},
        outTradeNo = #{outTradeNo},
        orderStatus = #{orderStatus}
        where id = #{id}
    </update>
    <select id="getUnitPrice" resultType="java.lang.Double">
        select
        <if test="serviceType == 'month'">
            monthCardPrice
        </if>
        <if test="serviceType == 'time'">
            timeCardPrice
        </if>
        <if test="serviceType == 'year'">
            yearCardPrice
        </if>
        <if test="serviceType == 'perpetual'">
            yearCardPrice
        </if>
        from servicefunction where id = #{serviceId}
    </select>
    <select id="getUserOrder" resultType="com.modcreater.tmbeans.pojo.UserOrders">
        select <include refid="userOrders"/> from userorders where id = #{tradeId}
    </select>
    <select id="queryExpiredOrders" resultType="java.lang.Long">
        select count(id) from userorders where orderStatus = 0 and #{timestamp} - createDate &gt;= 1800
    </select>
    <select id="getUserAllOrders" resultType="com.modcreater.tmbeans.show.order.ShowUserOrders">
        select
        serviceId ,
        orderTitle ,
        serviceType ,
        paymentAmount ,
        number ,
        createDate ,
        payTime ,
        payChannel
        from userorders where userId = #{userId} and orderStatus = 2
    </select>
    <update id="updateExpiredOrders">
        update userorders set orderStatus = 3 where orderStatus = 0 and #{timestamp} - createDate &gt;= 1800
    </update>
    <update id="updateOrderStatus">
        update userorders set orderStatus = #{status} where id = #{outTradeNo}
    </update>
</mapper>