<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.StatisticsMapper">
    <insert id="createStatistics" parameterType="com.modcreater.tmbeans.pojo.StatisticsTable">
        insert into statisticstable
        (creatorId, eventId, userId)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.creatorId},#{item.eventId},#{item.userId})
        </foreach>
    </insert>
    <update id="updateStatistics" parameterType="com.modcreater.tmbeans.pojo.StatisticsTable">
        update statisticstable
        set
            choose = #{choose},
            modify = #{modify}
            <if test="rejectContent != null and rejectContent != ''">
                rejectContent = #{rejectContent}
            </if>
        where
            creatorId=#{creatorId}
        and
            eventId=#{eventId}
        and
            userId=#{userId}
    </update>

    <update id="rollbackStatistics" parameterType="com.modcreater.tmbeans.pojo.StatisticsTable">
        update statisticstable
        set
        choose =2,
        modify = null,
        rejectContent = null,
        isOverdue = 0
        where
        creatorId=#{creatorId}
        and
        eventId=#{eventId}
    </update>

    <update id="updStaIsOverdue">
        update statisticstable
        set
        isOverdue = 1
        where
        creatorId=#{creatorId}
        and
        eventId=#{eventId}
    </update>
    <delete id="deleteStatistics">
        delete from statisticstable where creatorId=#{creatorId} and eventId=#{eventId}
    </delete>
    <select id="queryStatisticsCount" parameterType="com.modcreater.tmbeans.pojo.StatisticsTable" resultType="int">
        select count(1) from statisticstable
        where
            creatorId=#{creatorId}
        and
            eventId=#{eventId}
        and
            modify=1
    </select>

    <select id="queryFeedbackStatistics" resultType="java.util.Map">
        SELECT
            (SELECT COUNT(1) FROM statisticstable WHERE creatorId=#{creatorId} AND eventId=#{eventId} AND choose=0) AS agree,
            (SELECT COUNT(1) FROM statisticstable WHERE creatorId=#{creatorId} AND eventId=#{eventId} AND choose=1) AS refuse,
            (SELECT COUNT(1) FROM statisticstable WHERE creatorId=#{creatorId} AND eventId=#{eventId} AND choose=2) AS noReply,
            (SELECT COUNT(1) FROM statisticstable WHERE creatorId=#{creatorId} AND eventId=#{eventId} ) AS total
         FROM statisticstable LIMIT 1
    </select>

    <select id="queryChooser" resultType="java.lang.String">
          select userId from statisticstable where creatorId=#{creatorId} AND eventId=#{eventId} AND choose=#{choose}
    </select>

    <select id="selectStaIsOverdue" resultType="java.lang.String">
        select isOverdue from statisticstable where creatorId=#{creatorId} AND eventId=#{eventId} limit 1
    </select>

</mapper>
