<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.StatisticsMapper">
    <resultMap id="queryFeedbackStatisticsMap" type="String">
        <result column="agree" property="agree" />
        <result column="refuse" property="refuse" />
        <result column="noReply" property="noReply" />
    </resultMap>
    <insert id="createStatistics" parameterType="com.modcreater.tmbeans.pojo.StatisticsTable">
        insert into statisticstable
        (creatorId, eventId, userId)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.creatorId},#{item.eventId},#{item.userId})
        </foreach>
    </insert>
    <update id="updateStatistics" parameterType="com.modcreater.tmbeans.pojo.StatisticsTable">
        update statisticstable
        set
            choose = #{choose},
            modify = #{modify},
            <if test="rejectContent != null and rejectContent != ''">
                rejectContent = #{rejectContent},
            </if>
        where
            creatorId=#{creatorId}
        and
            eventId=#{eventId}
        and
            userId=#{userId}
    </update>
    <select id="queryStatisticsCount" parameterType="com.modcreater.tmbeans.pojo.StatisticsTable" resultType="int">
        select count(1) from statisticstable
        where
            creatorId=#{creatorId}
        and
            eventId=#{eventId}
        and
            modify=1
    </select>
    <select id="queryFeedbackStatistics" resultMap="queryFeedbackStatisticsMap">
        SELECT
            (SELECT COUNT(1) FROM statisticstable WHERE creatorId=100033 AND eventId=1557468410 AND choose=0) AS agree,
            (SELECT COUNT(1) FROM statisticstable WHERE creatorId=100033 AND eventId=1557468410 AND choose=1) AS refuse,
            (SELECT COUNT(1) FROM statisticstable WHERE creatorId=100033 AND eventId=1557468410 AND choose=2) AS noReply
         FROM statisticstable LIMIT 1
    </select>
</mapper>
