<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.StoreMapper">
    <insert id="insertStoreAttestation">
        insert into store_attestation (userId, businessLicense, exequatur, storeLogo) values (#{userId},#{businessLicense},#{exequatur},#{storeLogo})
    </insert>
    <insert id="saveTradingRecord">
        insert into store_purchase_records (orderNumber, goodsId, targetStoreId, sourceStoreId, transactionPrice, goodsCount, status) values
        <foreach collection="sourceGoods" item="sourceGoods" index="index" separator=",">
            (#{orderNumber},#{sourceGoods.goodsId},#{targetStoreId},#{sourceStoreId},#{transactionPrice},#{sourceGoods.num},#{status}
                <if test="sourceGoods.changeGoodsNum != null and sourceGoods.changeGoodsNum != '0' ">
                    ,#{sourceGoods.changeGoodsId}
                </if>
            )
        </foreach>
    </insert>
    <update id="updWallet">
        update store_info set wallet=wallet+#{paymentAmount} where id=#{storeId}
    </update>
    <select id="getStoreInfo" resultType="com.modcreater.tmbeans.pojo.StoreInfo">
        select * from store_info where id = #{storeId}
    </select>
    <select id="getDisposeStatus" resultType="com.modcreater.tmbeans.pojo.StoreAttestation">
        select * from store_attestation where userId=#{userId}
    </select>
    <select id="getStoreInfoByAttestationId" resultType="com.modcreater.tmbeans.pojo.StoreInfo">
        select * from store_info where attestationId=#{attestationId}
    </select>
    <select id="getStoreInfoByBarCode" resultType="java.util.Map">
        SELECT g.*,s.* FROM  store_goods g INNER JOIN  store_goods_stock s ON g.id=s.goodsId WHERE s.goodsBarCode=#{goodsBarCode} AND s.storeId=#{storeId}
    </select>
    <select id="getGoodsList" resultType="com.modcreater.tmbeans.pojo.StoreInfo">
        select * from store_info where status=1
    </select>
    <select id="getStoreIdByUserId" resultType="java.lang.Long">
        select id from store_info where userId = #{userId}
    </select>
</mapper>