<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.SynchronHistoryMapper">
    <insert id="addSynchronHistory">
        insert into synchronhistory (createrId, senderId, eventId, receiverId, createDate) values (#{createrId},#{senderId},#{eventId},#{receiverId},#{createDate});
    </insert>

    <update id="updSynchronHistory">
        update synchronhistory
        <set>
            <if test="status >= 0 ">
                status = #{status},
            </if>
            <if test="isSucceed >= 0 ">
                isSucceed = #{isSucceed},
            </if>
        </set>
        where createrId=#{createrId}  and eventId=#{eventId}
        <if test="receiverId>0">
            and receiverId=#{receiverId}
        </if>
        and createDate=(select a.* from (select Max(createDate) from synchronHistory where createrId=#{createrId} and eventId=#{eventId}
        <if test="receiverId>0">
            and receiverId=#{receiverId}
        </if>
        ) as a);
    </update>
    <select id="countSucceedSynchronHistory" resultType="java.lang.Long">
        select count(1) num from (select COUNT(id) num from synchronhistory where senderId = #{userId} and isSucceed = 1 GROUP BY createDate) as sss
    </select>
    <select id="countFailedSynchronHistory" resultType="java.lang.Long">
        select count(1) num from (select COUNT(id) num from synchronhistory where senderId = #{userId} GROUP BY createDate) as sss
    </select>
    <select id="countRefusedSynchronHistory" resultType="java.lang.Long">
        select COUNT(1) num from synchronhistory where receiverId = #{userId} and status &lt;&gt; 0
    </select>
    <select id="countAgreedSynchronHistory" resultType="java.lang.Long">
        select COUNT(1) num from synchronhistory where receiverId = #{userId} and status = 0
    </select>
</mapper>