<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.SystemMsgMapper">
    <insert id="addNewMsg">
        insert into systemmsgrecord (userId, msgContent, msgType,fromId) values (#{userId},#{msgContent},#{msgType},#{fromId});
    </insert>

    <update id="updateUnreadMsg">
        update systemmsgrecord set msgStatus=#{msgStatus}
            <if test="msgContent != null and msgContent != ''">
                and msgContent=#{msgContent}
            </if>
        where userId=#{userId} and msgType="newFriend"
            <if test="fromId != null and fromId != ''">
                and fromId=#{fromId}
            </if>
    </update>

    <select id="queryAllUnreadMsg" resultType="com.modcreater.tmbeans.pojo.SystemMsgRecord">
        select * from systemmsgrecord where userId=#{userId}
        <if test="msgStatus >=0 ">
            and  msgStatus=#{msgStatus}
        </if>
        <if test="msgType !=null and  msgType != '' ">
            and  msgType=#{msgType}
        </if>
        order by createDate desc
    </select>

    <select id="queryMsgByUserIdFriendIdMsgType" resultType="java.lang.Integer">
        select count(1) from systemmsgrecord where userId=#{userId} and fromId=#{fromId} and msgType=#{msgType}
    </select>

    <select id="queryMsgByUserIdFriendIdMsgTypeDetial"
            resultType="com.modcreater.tmbeans.pojo.SystemMsgRecord">
        select * from systemmsgrecord where userId=#{userId} and fromId=#{fromId} and msgType=#{msgType}
    </select>
</mapper>