<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.UserServiceMapper">

    <sql id="serviceRemainingTime">
        id,userId,serviceId,residueDegree,timeRemaining,storageTime,timeCardDuration
    </sql>
    <insert id="addNewServiceRemainingTime">
        insert into serviceremainingtime (id,userId,serviceId,residueDegree,timeRemaining,storageTime,timeCardDuration)
        values (null,#{userId},#{serviceId},#{residueDegree},#{timeRemaining},#{storageTime},#{timeCardDuration})
    </insert>
    <update id="updateServiceRemainingTime">
        update serviceremainingtime
        <set>
            <if test="residueDegree != null">
                residueDegree = #{residueDegree},
            </if>
            <if test="timeRemaining != null">
                timeRemaining = #{timeRemaining},
            </if>
            <if test="storageTime != null">
                storageTime = #{storageTime},
            </if>
            <if test="timeCardDuration != null">
                timeCardDuration = #{timeCardDuration},
            </if>
        </set>
        where userId = #{userId} and serviceId = #{serviceId}
    </update>
    <delete id="deleteService">
        delete from serviceremainingtime where id=#{id}
    </delete>
    <select id="getTimeRemaining" resultType="java.lang.Long">
        select timeRemaining from serviceremainingtime where userId = #{userId} and serviceId = #{serviceId}
    </select>
    <select id="getServiceRemainingTime" resultType="com.modcreater.tmbeans.pojo.ServiceRemainingTime">
        select
        <include refid="serviceRemainingTime"/>
        from serviceremainingtime where userId = #{userId} and serviceId = #{serviceId}
    </select>
    <select id="getAllServiceRemainingTime" resultType="com.modcreater.tmbeans.pojo.ServiceRemainingTime">
        select <include refid="serviceRemainingTime"/> from serviceremainingtime where userId = #{userId}
    </select>
    <select id="getHistoryMsgList" resultType="com.modcreater.tmbeans.pojo.EventMsg">
        select * from eventmsg where msgOwnerId = #{userId} order by id desc limit 10
    </select>
    <select id="countAMonthEvents" resultType="java.lang.Integer">
        select count(id) from singleevent
        <where>
            userId = #{userId} and month = #{thisMonth} and year = #{thisYear}
            <if test="isOverdue != null">
                and isOverdue = #{isOverdue}
            </if>
            <if test="isOverdue == null">
                and isOverdue in (0,1)
            </if>
            and isLoop = 0
        </where>
    </select>
    <select id="getTimeCard" resultType="java.lang.Long">
        select residueDegree from serviceremainingtime where userId = #{userId} and serviceId = #{serviceId}
    </select>
</mapper>