<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.UserSettingsMapper">

    <!--<resultMap id="forGetInviteFriendList" type="com.modcreater.tmbeans.show.usersettings.ShowFriendList">
        <result property="userCode" column="userCode"/>
        <result property="userName" column="userName"/>
        <result property="headImgUrl" column="headImgUrl"/>
        <result property="gender" column="gender"/>
        <collection property="status" column="invite" select="com.modcreater.tmbeans.pojo.Friendship"/>
    </resultMap>
    <resultMap id="forGetSupportFriendList" type="com.modcreater.tmbeans.show.usersettings.ShowFriendList">
        <result property="userCode" column="userCode"/>
        <result property="userName" column="userName"/>
        <result property="headImgUrl" column="headImgUrl"/>
        <result property="gender" column="gender"/>
        <collection property="status" column="sustain" select="com.modcreater.tmbeans.pojo.Friendship"/>
    </resultMap>
    <resultMap id="forGetHideFriendList" type="com.modcreater.tmbeans.show.usersettings.ShowFriendList">
        <result property="userCode" column="userCode"/>
        <result property="userName" column="userName"/>
        <result property="headImgUrl" column="headImgUrl"/>
        <result property="gender" column="gender"/>
        <collection property="status" column="hide" select="com.modcreater.tmbeans.pojo.Friendship"/>
    </resultMap>-->


    <insert id="addNewUserSettings">
        insert into usersettings (userId) values (#{userId})
    </insert>
    <update id="updateUserSettings" statementType="STATEMENT">
        update usersettings set ${type} = ${status} where userId = ${userId}
    </update>
    <select id="queryAllSettings" resultType="com.modcreater.tmbeans.pojo.UserSettings">
        select * from usersettings where userId = #{userId}
    </select>
    <select id="getInviteFriendList" resultType="com.modcreater.tmbeans.show.usersettings.ShowFriendList">
        select f.friendId 'userId',a.userCode,a.headImgUrl,a.userName,a.gender,f.invite 'status' from account a,friendship f where f.friendId = a.id and f.userId = #{userId}
    </select>
    <select id="getSupportFriendList" resultType="com.modcreater.tmbeans.show.usersettings.ShowFriendList">
        select f.friendId 'userId',a.userCode,a.headImgUrl,a.userName,a.gender,f.sustain 'status' from account a,friendship f where f.friendId = a.id and f.userId = #{userId}
    </select>
    <select id="getHideFriendList" resultType="com.modcreater.tmbeans.show.usersettings.ShowFriendList">
        select f.friendId 'userId',a.userCode,a.headImgUrl,a.userName,a.gender,f.hide 'status' from account a,friendship f where f.friendId = a.id and f.userId = #{userId}
    </select>
    <select id="getIsHideFromFriend" resultType="java.lang.Integer">
        select hide from friendship where userId = #{userId} and friendId = #{friendId}
    </select>
    <select id="getFriendHide" resultType="java.lang.Integer">
        select friendHide from usersettings where userId = #{friendId}
    </select>
    <select id="getDND" resultType="java.lang.Integer">
        select DND from usersettings where userId = #{userId}
    </select>
</mapper>