<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.UserSettingsMapper">

    <insert id="addNewUserSettings">
        insert into usersettings (userId) values (#{userId})
    </insert>
    <update id="updateUserSettings" statementType="STATEMENT">
        update usersettings set ${type} = ${status} where userId = ${userId}
    </update>
    <select id="queryAllSettings" resultType="com.modcreater.tmbeans.pojo.UserSettings">
        select * from usersettings where userId = #{userId}
    </select>
</mapper>