<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.UserServiceMapper">

    <sql id="serviceRemainingTime">
        id,userId,serviceId,residueDegree,timeRemaining,storageTime,timeCardDuration
    </sql>
    <insert id="addNewServiceRemainingTime">
        insert into serviceremainingtime (id,userId,serviceId,residueDegree,timeRemaining,storageTime,timeCardDuration)
        values (null,#{userId},#{serviceId},#{residueDegree},#{timeRemaining},#{storageTime},#{timeCardDuration})
    </insert>
    <update id="updateServiceRemainingTime">
        update serviceremainingtime
        <set>
            <if test="residueDegree != null">
                residueDegree = #{residueDegree},
            </if>
            <if test="timeRemaining != null">
                timeRemaining = #{timeRemaining},
            </if>
            <if test="storageTime != null">
                storageTime = #{storageTime},
            </if>
            <if test="timeCardDuration != null">
                timeCardDuration = #{timeCardDuration},
            </if>
        </set>
        where userId = #{userId} and serviceId = #{serviceId}
    </update>



    <select id="getTimeRemaining" resultType="java.lang.Long">
        select timeRemaining from serviceremainingtime where userId = #{userId} and serviceId = #{serviceId}
    </select>
    <select id="getServiceRemainingTime" resultType="com.modcreater.tmbeans.pojo.ServiceRemainingTime">
        select
        <include refid="serviceRemainingTime"/>
        from serviceremainingtime where userId = #{userId} and serviceId = #{serviceId}
    </select>
    <select id="getAllServiceRemainingTime" resultType="com.modcreater.tmbeans.pojo.ServiceRemainingTime">
        select <include refid="serviceRemainingTime"/> from serviceremainingtime where userId = #{userId}
    </select>
</mapper>