<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modcreater.tmdao.mapper.UserRealInfoMapper">

    <insert id="addNewRealInfo">
        insert into userrealinfo
        (userId, userRealName, userIDNo, userIDCardFront, userIDCardVerso)
        values (#{userId},#{userRealName},#{userIDNo},#{userIDCardFront},#{userIDCardVerso})
    </insert>

    <update id="updateRealInfo">
        update userrealinfo
            <set>
                <if test="userRealName != null and userRealName != ''">
                    userRealName=#{userRealName},
                </if>
                <if test="userIdNo != null and userIdNo != ''">
                    userIDNo=#{userIdNo},
                </if>
                <if test="userIdCardFront != null and userIdCardFront != '' ">
                    userIDCardFront=#{userIdCardFront},
                </if>
                <if test="userIdCardVerso != null and userIdCardVerso != ''">
                    userIDCardVerso=#{userIdCardVerso},
                </if>
                <if test="realStatus >=0 ">
                    realStatus=#{realStatus},
                </if>
                <if test="modifyDate != null ">
                    modifyDate=#{modifyDate},
                </if>
            </set>
        where userId=#{userId}
    </update>

    <select id="queryDetail" resultType="com.modcreater.tmbeans.pojo.UserRealInfo">
        select * from userrealinfo where userId=#{userId}
    </select>
</mapper>